@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    background-color: rgb(15 23 42);
    color: rgb(209 213 219);

}
.tables{
    display: table;
    border-spacing: 2.5rem, 2.5rem;
}

th{
  color:rgb(14 165 233);
}

input{
    padding:4px 4px 3px 4px;
    border-radius:5%;
    margin-right: 10px;
}

.Table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .Table th, .Table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .Table th {
    background-color: #f2f2f2;
  }
  
  .Table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .Table tr:hover {
    background-color: #ddd;
  }
  